body, html {
    overflow: hidden;
    font-family: Arial;
}
#logo {
    position: absolute;
    top:100px;
    left: 50%;
    margin-left: -482px;
    z-index: 2;
}

#logoScore {
    position: absolute;
    top:100px;
    left: 50%;
    margin-left: -221px;
    z-index: 2;
}

#contentScores {
    display: none;
}

#container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    background-color: #a6e0d3;
    background-image: url('../images/template/bg.png');
}

#form {
    position: absolute;
    top:350px;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    z-index: 2;
}

#instruction b {
    color: #D93F37;
    font-size: 24px;
    text-shadow: 1px 1px #fff;
}
#instruction {
    position: absolute;
    top: 560px;
    left: 50%;
    margin-left: -340px;
    width: 350px;
    z-index: 2;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px #000;
}

#formBg {
    float: left;
    margin-top: 10px;
}

#formButton {
    float: right;
    cursor: pointer;
}

#username {
    position: absolute;
    top: 68px;
    left: 15px;
    font-size: 19px;
    padding: 0;
    margin: 0;
    width: 335px;
}

#password {
    position: absolute;
    top: 161px;
    left: 15px;
    font-size: 19px;
    padding: 0;
    margin: 0;
    width: 235px;
}

#send {
    position: absolute;
    top: 161px;
    left: 260px;
    font-size: 19px;
    padding: 0;
    margin: 0;
    width: 100px;
    cursor: pointer;
}

input  {
    background: none;
    border: 0;
    outline: none;
}
input:-webkit-autofill{
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
}
#alert{
    position: absolute;
    top:270px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    text-shadow: 1px 1px #000;
}

#score {
    position: absolute;
    bottom:20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}

table {
    position: absolute;
    top:260px;
    left:50%;
    margin-left: -300px;
    width: 600px;
    z-index:2;
    font-size: 32px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
    font-weight: bold;
}

table .left {

}

table .right {
    text-align: right;
}

#return {
    position: absolute;
    bottom:20px;
    cursor: pointer;
    right: 20px;
    z-index: 2;
}