body, html {
    overflow: hidden;
    font-family: Arial;
}



#container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    background-color: #a6e0d3;
    background-image: url('../images/template/bg.png');
}