body, html {
		overflow: hidden;
}

section#main {
		width: 100%;
		height: 100%;
		top : 0;
		left:0;
		right:0;
		bottom:0;
		position:absolute;
}

#selectAction {
		position: absolute;
		top : 240px;
		right: 10px;
		width: 230px;
		z-index: 10;
		padding: 10px;
		background-color: rgba(240, 240, 240, 0.7);
		border-bottom: 1px solid #555;
		border-left: 1px solid #555;
		border-right: 1px solid #555;
}

#selectAction label {
		font-size: 14px;
		margin-right: 15px;
}

#selectAction input {
		margin-right: 10px;
}

#controlCube {
		position: absolute;
		top: 49px;
		right: 10px;
		height: 170px;
		width: 230px;
		z-index: 10;
		padding: 10px;
		background-color: rgba(240, 240, 240, 0.7);
		border-top: 1px solid #555;
		border-left: 1px solid #555;
		border-right: 1px solid #555;
}

.cubeBackground {
		border: 1px solid #ccc;
		height: 50px;
		width: 50px;
		position: absolute;
		-moz-box-shadow: 0 0 2px 1px #CCC;
		-webkit-box-shadow: 0 0 2px 1px #CCC;
		box-shadow: 0 0 2px 1px #CCC;
}
#bloc_1 {
		top: 10px;
		left: 70px;
}
#bloc_2 {
		top: 70px;
		left: 10px;
}
#bloc_3 {
		top: 70px;
		left: 70px;
}
#bloc_4 {
		top: 70px;
		left: 130px;
}
#bloc_5 {
		top: 70px;
		left: 190px;
}
#bloc_6 {
		top: 130px;
		left: 70px;
}
.material {
		width:32px;
		height:32px;
		margin:5px;
		float:left;
		border: 1px solid #FFF;
		background-size: 32px;
}
.material:hover {
		border: 1px solid #CCC;
}



#allCube {
		top: 130px;
		right: 10px;
		position: absolute;
		text-align: right;
		font-weight: bold;
}

#allCube .cubeBackground {
		border: 1px solid #ccc;
		height: 34px;
		width: 34px;
		position: relative;
		-moz-box-shadow: 0 0 2px 1px #CCC;
		-webkit-box-shadow: 0 0 2px 1px #CCC;
		box-shadow: 0 0 2px 1px #CCC;
}